.logo{
    width: 5rem;
    height: 4rem;
}
.app-bar-color{
    background-color: #292929;
}
.bg-dark{
    background-color: #121212 !important;
}
.navbar{
    height: 96px ;
}
.MuiInputBase-input{
    color: white !important;
}
