@charset "UTF-8";
@import './bootstrap.min.css';
.logo {
  width: 5rem;
  height: 4rem;
}

.app-bar-color {
  background-color: #292929;
}

.bg-dark {
  background-color: #121212 !important;
}

.navbar {
  height: 96px;
}

#header .MuiInputBase-input {
  color: white !important;
}

.carousel .carousel-control {
  font-size: 3rem;
}
.carousel .carousel-item {
  height: 60vh;
  width: 100%;
  min-height: 300px;
  max-height: 600px;
}
.carousel .carousel-item img {
  filter: brightness(50%) contrast(79%);
  -webkit-filter: brightness(50%) contrast(79%);
  width: 100%;
}
.carousel .carousel-item:hover {
  cursor: pointer;
}
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel .content-area {
  position: absolute;
  left: 15%;
  right: 15%;
  width: 70%;
  bottom: 5rem;
}
.carousel .carousel-caption {
  display: inline-block;
  width: 100%;
  position: relative !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
.carousel .carousel-caption .chapter-name {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  white-space: 0.2em;
  text-align: start;
}
.carousel .carousel-caption .chapter {
  display: block;
  margin-left: 0.5rem;
  font-size: 1rem;
}
.carousel .carousel-caption .comic-name {
  text-decoration: none;
  background-color: #a4ce3a;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: bold;
}
.carousel .carousel-caption .comic-name:hover {
  background-color: #05a44d;
}
.carousel .carousel-caption .date {
  display: block;
}
.carousel .rank {
  background: #a4ce3a;
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  padding: 0.3rem 1rem;
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 15%;
}
.carousel .rank:before {
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid #a4ce3a;
  border-left: 2.5rem solid #a4ce3a;
  border-right: 2.5rem solid transparent;
}
.carousel .rank::after {
  content: "";
  position: absolute;
  top: 4rem;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid #a4ce3a;
  border-right: 2.5rem solid #a4ce3a;
  border-left: 2.5rem solid transparent;
}
.carousel .cover {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel .cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008a;
}

.list {
  overflow: hidden;
  padding: 2rem 0;
}
.list .list-header {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: 0.3rem;
  color: #fff;
  padding-left: 2rem;
  position: relative;
}
.list .list-header::before {
  width: 0.6em;
  height: 1.5em;
  left: 0;
  top: 0.5em;
  content: "";
  position: absolute;
  background-color: #a4ce3a;
}
.list .list-items {
  margin: 1rem 0;
}

.my-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}
.my-card:last-child() {
  margin-right: 0;
}
.my-card:hover {
  cursor: pointer;
  border: 1px solid #a4ce3a;
}
.my-card:hover img {
  filter: blur(7px);
  -webkit-filter: blur(7px);
}
.my-card .overlay {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #0000008a;
  top: 0;
  left: 0;
}
.my-card .card-content {
  width: 100%;
  height: 100%;
  top: 25%;
  left: 0;
  position: absolute;
  color: white;
}
.my-card .card-title {
  font-weight: bold;
}
.my-card .countdown {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-see-more {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 1rem 0;
}
.btn-see-more:hover {
  text-decoration: none;
  color: #a4ce3a;
}

.break-line {
  content: "";
  width: 100%;
  height: 2px;
  margin: 2rem 0;
  background-color: #292929;
}

.card {
  background-color: #121212;
  color: #fff;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 133.33%;
  position: relative;
}
.card .card-content {
  padding: 10px;
  height: 20%;
  position: absolute;
  overflow: hidden;
  top: 80%;
  width: 100%;
}
.card .card-content .name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .img-area {
  position: absolute;
  overflow: hidden;
  height: 80%;
  width: 100%;
}
.card .img-area .card-thumbnail {
  max-height: 100%;
  width: auto !important;
}

.category-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding-bottom: 30%;
  margin-right: 10px;
  margin-top: 10px;
}
.category-card:last-child() {
  margin-right: 0;
}
.category-card:hover {
  cursor: pointer;
}
.category-card:hover img {
  filter: blur(7px);
  -webkit-filter: blur(7px);
}
.category-card .thumbnail {
  top: 0;
  left: 0;
  position: absolute;
}
.category-card .overlay {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: #0000009f;
  top: 0;
  left: 0;
}
.category-card .card-content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
}
.category-card .card-title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.list-header {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: 0.3rem;
  color: #fff;
  padding-left: 2rem;
  position: relative;
  text-transform: uppercase;
}
.list-header::before {
  width: 0.6em;
  height: 1.5em;
  left: 0;
  top: 0.5em;
  content: "";
  position: absolute;
  background-color: #a4ce3a;
}

.scroll-btn {
  height: 3rem;
  width: 3rem;
  background: #a4ce3a;
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  bottom: 4rem;
  right: 3rem;
}
.scroll-btn .up-arrow {
  color: #fff;
  font-size: 1.5rem;
  padding-top: 0.7rem;
}
.scroll-btn:hover {
  background: #05a44d;
}

.appear {
  display: block;
  -webkit-animation-name: scrollToAppear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: scrollToAppear;
  animation-duration: 1s;
}

.disapear {
  display: none;
  -webkit-animation-name: scrollToDisappear;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-name: scrollToDisappear;
  animation-duration: 1s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrollToAppear {
  0% {
    opacity: 0%;
    bottom: 1rem;
    right: 3rem;
  }
  100% {
    opacity: 100%;
    bottom: 4rem;
    right: 3rem;
  }
}
/* Standard syntax */
@keyframes scrollToAppear {
  0% {
    opacity: 0%;
    bottom: 1rem;
    right: 3rem;
  }
  100% {
    opacity: 100%;
    bottom: 4rem;
    right: 3rem;
  }
}
@-webkit-keyframes scrollToDisappear {
  0% {
    opacity: 100%;
    bottom: 4rem;
    right: 3rem;
  }
  100% {
    opacity: 0%;
    bottom: 1rem;
    right: 3rem;
  }
}
/* Standard syntax */
@keyframes scrollToDisappear {
  0% {
    opacity: 100%;
    bottom: 4rem;
    right: 3rem;
  }
  100% {
    opacity: 0%;
    bottom: 1rem;
    right: 3rem;
  }
}
.social-media {
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0.75rem;
  text-decoration: none;
}
.social-media:hover {
  text-decoration: none;
  transition: all ease-in 0.5s;
}
.social-media.facebook:hover {
  color: #3b5998;
}
.social-media.google:hover {
  color: #EA4335;
}
.social-media.instagram:hover {
  color: #F58529;
}
.social-media.twitter:hover {
  color: #00acee;
}

#footer {
  color: #fff;
}

.ranking-card {
  height: 6rem;
  width: 100%;
  position: relative;
  margin: 1rem 0;
  padding: 10px;
}
.ranking-card:not(:last-child) {
  border-bottom: 1px solid #292929;
}
.ranking-card:hover {
  background: #292929;
  border-radius: 10px;
  border: none;
}
.ranking-card .content {
  width: 100%;
  height: 100%;
}
.ranking-card .thumbnail {
  width: 5.5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #292929;
  background-color: black;
}
.ranking-card .rank {
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #a4ce3a;
  margin: 0 1rem;
  width: 3rem;
  text-align: center;
}
.ranking-card .rank.first {
  background: #feca57;
}
.ranking-card .rank.second {
  background: #ee5253;
}
.ranking-card .rank.third {
  background: #05a44d;
}

.thumbnail-fluid {
  max-width: 100% !important;
  max-height: auto;
}

.ranking-wrapper {
  padding: 2.5rem 2rem;
  border-radius: 2rem;
  background: #121212;
  height: 25rem;
  position: relative;
}

.ranking-body {
  /* width */
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.ranking-body::-webkit-scrollbar {
  width: 10px;
}
.ranking-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2rem;
}
.ranking-body::-webkit-scrollbar-thumb {
  background: #a4ce3a;
  border-radius: 2rem;
}
.ranking-body::-webkit-scrollbar-thumb:hover {
  background: #05a44d;
}

.point {
  margin-left: 1rem;
  color: #fff;
  font-weight: bold;
}

.rating {
  margin-right: 3rem;
  color: #a4ce3a;
}

.control-btn {
  color: #fff;
  background: none;
  border: none;
  font-size: 2rem;
}

#comic-page .page-header {
  width: 100%;
  padding-bottom: 30%;
  position: relative;
}
#comic-page .cover-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
#comic-page .overlay, #comic-page .gradient-overlay {
  content: "";
  background: #1d1d1dd1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#comic-page .gradient-overlay {
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
}
#comic-page .quick-info {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-bottom: 1rem;
}
#comic-page .quick-info .comic-name {
  font-weight: bolder;
  text-transform: uppercase;
}
#comic-page .quick-info .views {
  padding-left: 0.3rem;
}
#comic-page .quick-info .author {
  margin: 0 0 1rem 0;
}
#comic-page .quick-info .rating {
  margin-right: 1rem;
}
#comic-page .quick-info .favorites {
  padding-left: 1rem;
}
#comic-page .quick-info .favorites .favorite-number {
  color: #fff;
  padding-left: 0.3rem;
}
#comic-page .category-link {
  color: #a4ce3a;
  text-decoration: none;
  margin-left: 0.5rem;
  font-weight: bold;
}
#comic-page .category-link:not(:last-child)::after {
  content: ",";
}
#comic-page .category-link:hover {
  text-decoration: none;
  color: #05a44d;
}
#comic-page .chapter-link {
  width: 100%;
  border-radius: 1rem;
  text-decoration: none;
  background: #05a44d;
  color: #fff;
  font-weight: bold;
  text-align: center;
  min-height: 5rem;
}
#comic-page .chapter-link:hover {
  text-decoration: none;
  background: #a4ce3a;
}
#comic-page .text-white {
  color: #fff;
}

.page-control.fixed-bottom {
  background: #121212;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.media-body {
  color: black;
  font-size: 1rem;
}

.reading-area {
  margin: 2rem 0;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;
}
.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 16px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--google {
  color: #c12127;
}
.social-button--google::after {
  background: #c12127;
}

.image-gallery-slide img {
  width: auto !important;
  max-width: 100%;
}

.image-gallery-right-nav, .image-gallery-left-nav {
  height: 90%;
  width: 50%;
}
.image-gallery-right-nav:hover, .image-gallery-right-nav :focus, .image-gallery-right-nav :active, .image-gallery-left-nav:hover, .image-gallery-left-nav :focus, .image-gallery-left-nav :active {
  border: none !important;
  outline: none !important;
}
.image-gallery-right-nav::before, .image-gallery-left-nav::before {
  content: "" !important;
}

/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content.fullscreen .image-gallery-slide {
  background: #000;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 113px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    width: calc(100% - 84px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
}
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  color: #fff;
  line-height: 0.7;
  text-shadow: 0 2px 2px #1a1a1a;
  transition: color 0.2s ease-out;
}
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before,
.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
  color: #337ab7;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before,
.image-gallery-left-nav:hover::before,
.image-gallery-right-nav:hover::before {
    color: #fff;
  }
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
}
.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before {
  font-size: 2.7em;
  padding: 15px 20px;
  text-shadow: 0 1px 1px #1a1a1a;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button::before,
.image-gallery-play-button::before {
    font-size: 2.4em;
  }
}
@media (max-width: 480px) {
  .image-gallery-fullscreen-button::before,
.image-gallery-play-button::before {
    font-size: 2em;
  }
}
.image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before {
  color: #fff;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button:hover::before,
.image-gallery-play-button:hover::before {
    transform: none;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}
.image-gallery-fullscreen-button::before {
  content: "";
}
.image-gallery-fullscreen-button.active::before {
  content: "";
}
.image-gallery-fullscreen-button.active:hover::before {
  transform: scale(0.9);
}

.image-gallery-play-button {
  left: 0;
}
.image-gallery-play-button::before {
  content: "";
}
.image-gallery-play-button.active::before {
  content: "";
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: #fff;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%);
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}
@media (max-width: 768px) {
  .image-gallery-left-nav,
.image-gallery-right-nav {
    font-size: 3.4em;
    padding: 20px 15px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav,
.image-gallery-right-nav {
    font-size: 2.4em;
    padding: 0 15px;
  }
}

.image-gallery-left-nav {
  left: 0;
}
.image-gallery-left-nav::before {
  content: "";
}

.image-gallery-right-nav {
  right: 0;
}
.image-gallery-right-nav::before {
  content: "";
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.image-gallery-slide {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.center {
  position: relative;
}
.image-gallery-slide img {
  width: 100%;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #fff;
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 108px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0;
}
.image-gallery-thumbnails-wrapper.left {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 3px;
  }
}
.image-gallery-thumbnails-wrapper.right {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  transition: transform 0.45s ease-out;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 75px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  position: relative;
}
.image-gallery-thumbnail img {
  vertical-align: middle;
  width: 100%;
}
.image-gallery-thumbnail.active {
  border: 4px solid #337ab7;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active {
    border: 3px solid #337ab7;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 0 black;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content.fullscreen .image-gallery-slide {
  background: #000;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 113px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    width: calc(100% - 84px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
}

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-play-button {
  left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: #fff;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%);
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}
@media (max-width: 768px) {
  .image-gallery-left-nav,
.image-gallery-right-nav {
    font-size: 3.4em;
    padding: 20px 15px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav,
.image-gallery-right-nav {
    font-size: 2.4em;
    padding: 0 15px;
  }
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.image-gallery-slide {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.center {
  position: relative;
}
.image-gallery-slide img {
  width: 100%;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 0 #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #fff;
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 108px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0;
}
.image-gallery-thumbnails-wrapper.left {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 3px;
  }
}
.image-gallery-thumbnails-wrapper.right {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  transition: transform 0.45s ease-out;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border 0.3s ease-out;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 75px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  position: relative;
}
.image-gallery-thumbnail img {
  vertical-align: middle;
  width: 100%;
}
.image-gallery-thumbnail.active {
  border: 4px solid #337ab7;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active {
    border: 3px solid #337ab7;
  }
}

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 0 black;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

.profile-dropdown {
  background: transparent;
  outline: none;
  border: none;
}
.profile-dropdown:hover, .profile-dropdown :focus, .profile-dropdown :active {
  border: none;
  background: #a4ce3a;
}

.show > .btn-primary.dropdown-toggle {
  border: none;
  background: #a4ce3a;
}
.show > .btn-primary.dropdown-toggle:active, .show > .btn-primary.dropdown-toggle :focus {
  background: #a4ce3a;
}

.dashboard-drawer {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.dashboard-drawer::-webkit-scrollbar {
  width: 10px;
}
.dashboard-drawer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2rem;
}
.dashboard-drawer::-webkit-scrollbar-thumb {
  background: #a4ce3a;
  border-radius: 2rem;
}
.dashboard-drawer::-webkit-scrollbar-thumb:hover {
  background: #05a44d;
}

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  color: #fff !important;
}

#home, #search-result, #comic-page, #reading, #upload {
  margin-top: 96px;
  background: #292929;
  min-height: calc(100vh - 195px);
}

#upload {
  background: #ffff;
  color: #121212;
}

#footer {
  padding: 3rem 0;
  background-color: #121212;
}

.my-btn {
  text-decoration: none;
  background-color: #a4ce3a;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-weight: bold;
  min-width: 10rem;
  text-align: center;
  margin: 0.5rem;
  border: none;
}
.my-btn:hover {
  text-decoration: none;
  background-color: #05a44d;
  color: white;
}

.love-btn {
  background-color: #ee5253;
  cursor: pointer;
}
.love-btn:hover {
  background-color: red;
}

/*# sourceMappingURL=index.css.map */
