@import './header.scss';
@import './bootstrap.min.css';
@import './carousel.scss';
@import './card.scss';
@import './scroll-btn.scss';
@import './footer.scss';
@import './ranking.scss';
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
}

#home,#search-result{
    //background-color: #121212;
    margin-top: 96px;
    background-color: #292929;
}
#footer{
    padding: 3rem 0;
    background-color: #121212;
}