@import './header.scss';
@import './bootstrap.min.css';
@import './carousel.scss';
@import './card.scss';
@import './scroll-btn.scss';
@import './footer.scss';
@import './ranking.scss';
@import './comic-page.scss';
@import './reading.scss';
// SCSS
@import "./image-gallery.scss";
//Stylesheet with no icons
@import "./image-gallery-no-icon.scss";
@import './dashboard.scss';
body{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    color: #fff !important;
}

#home,#search-result,#comic-page,#reading,#upload{
    //background-color: #121212;
    margin-top: 96px;
    background: #292929;
    min-height: calc(100vh - 195px);
    // padding: 1rem 0 5rem 0rem;
}
#upload{
    background: #ffff;
    color: #121212;
}
#footer{
    padding: 3rem 0;
    background-color: #121212;
}
.my-btn{
    text-decoration: none;
    background-color: #a4ce3a;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    font-weight: bold;
    min-width: 10rem;
    text-align: center;
    margin: 0.5rem;
    border: none;
    &:hover{
        text-decoration: none;
        background-color: #05a44d;
        color: white;
    }
}
.love-btn{
    background-color: #ee5253;
    cursor: pointer;
    &:hover{
        background-color: red;
    }
}
.times{
    position: absolute;
    z-index: 999;
    top:10px;
    left: 0;
    background: #ee5253;
    color: white;
    font-weight: bold;
    padding: 10px 30px 10px 10px ;
}
.image-gallery-content.fullscreen  {
    .image-gallery-slide img {
      width: auto;
      max-height: 100vh;
    }
  
    .image-gallery-image {
      text-align: center;
    }
  }

.navbar-collapse.collapse.show{
    background: #121212;
    padding: 1rem;
    width: 100%;
}